/*  Neutral Colors */

$color-heading:                     #212529;
$color-body:                        #495057;
$color-meta:                        #868e96;
$color-border:                      #f8f9fa;


/* Main Colors */

$color-primary:                     #b197fc;
$color-secondary:                   #7e91e5;
$color-accent:                      #fe8fdc;


/* Brand Colors */

$color-brand-success:               #8ce99a;
$color-brand-info:                  #74c0fc;
$color-brand-warning:               #ffe066;
$color-brand-danger:                #fa5252;


/* Link Colors */

$color-link:                        $color-primary;
$color-link-visited:                darken( $color-primary, 10);
$color-link-hover:                  lighten( $color-primary, 10);


/* Screen Reader Colors */

$color-sr-bg:                       $color-border;
$color-sr-text:                     $color-heading;


/* Button Color */

$color-button-bg:                   #e6e6e6;
$color-button-border:               #ccc;
$color-button-border-hover:         #aaa;
$color-button-border-focus:         #ddd;



/* Input colors */

$color-input-text:                  $color-body;
$color-input-text-focus:            $color-heading;
$color-input-border:                $color-border;
